<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test  name="LoginTestInChrome">
    <parameter name="browser" value="Chrome"/>
    <classes>
        <class name="LambdaExecution"/>
    </classes>
</test>
    <test  name="LoginTestInFireFox">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="LambdaExecution"/>
        </classes>
    </test>
</suite>